@import '@styles/variables.scss';

.navbar {
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: stretch;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-decoration: none;
    color: $primaryColor;
    font-weight: 600;
  }

  &-item--active {
    background: rgba($primaryColor, 0.1);
  }
}
