@import '@styles/variables.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  max-width: 100vw;
  flex-wrap: wrap;
  gap: 20px;

  svg {
    width: 60px;
    height: 60px;
    display: block;
  }
}
