@import '@styles/variables.scss';

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $font-weight-7;
  border: $border;
  border-radius: 50%;
  overflow: hidden;
  background-color: $avatar-background;
  position: relative;
  color: $baseBlack;
  text-align: center;
  margin: 0;
  flex-shrink: 0;
}
