@import '@styles/variables.scss';

.baseInput {
  width: 100%;
  border: none;
  background: $darkPurple;
  border: 1px solid $primaryColor;
  border-radius: $baseBorderRadius;
  padding: 0.3rem 0;
  color: $white;
  padding: 16px;
}

.baseInput:focus {
  outline: none;
}

.baseInput--error {
  border-bottom-color: $danger;
  color: $danger;
}
