@import '@styles/variables.scss';

.basicButton {
  display: block;
  background-color: $primaryColor;
  color: $white;
  border: none;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  position: relative;

  &.subButton {
    background-color: unset;
    color: $primaryColor;
  }

  &--link {
    display: inline;
    background-color: unset;
    color: $primaryColor;
    text-align: center;
    padding: 0;
    margin-top: 0;
    width: 100%;
    text-decoration: none;
  }

  &:disabled {
    background-color: $neutral60;
  }

  .button__content {
    padding: 0.7rem;
  }

  &.button--loading {
    .button__content {
      opacity: 0;
    }
  }

  .button__spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;

    .spinner {
      border-color: $white;
      border-bottom-color: transparent;
    }
  }
}
