@import '@styles/variables.scss';

.basicButton {
  display: block;
  background-color: $primaryColor;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 0.7rem;
  margin-top: 1rem;
  width: 100%;
  text-decoration: none;
  cursor: pointer;

  &.subButton {
    background-color: unset;
    color: $primaryColor;
  }

  &--link {
    display: inline;
    background-color: unset;
    color: $primaryColor;
    text-align: center;
    padding: 0;
    margin-top: 0;
    width: 100%;
    text-decoration: none;
  }

  &:disabled {
    background-color: $neutral60;
  }
}
