@import '@styles/variables.scss';

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $base-black;

  &--name {
    @include h1;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &--title {
    @include h2;
    margin-top: 0;
    margin-bottom: 70px;
  }

  &--button {
    color: $primaryColor;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
