@import '../../styles/index';

.error {
  width: 180px;
  height: 170px;
  text-align: center;
  position: absolute;
  top: 50vh;
  margin-top: -85px;
  left: 50vw;
  margin-left: -90px;
  color: #1E1E1E;

  &--name {
    font-size: 40px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &--title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 70px;
  }

  &--button{
    color: #3369F3;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}