@import '@styles/variables.scss';

.authBoxWrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.authBox {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: $shadowLight;
  height: max-content;
  padding: 4rem 2rem 3rem;
  position: relative;
  width: 23rem;
}

.authBoxHeader {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}

.authBoxError {
  color: $danger;
  text-align: center;
}
