@import '@styles/variables.scss';

.title{
    font-size: 24px;
    line-height: 26px;
}

.btn{
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    background: $purple;
    width: 100%;
}
