@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  100% {
    transform: translateY(-50px);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(200%);
  }
}

$fadeInAnimation: fade-in 0.5s forwards;
$fadeOutAnimation: fade-out 0.5s forwards;
$slideInAnimation: slide-in 0.5s forwards;
$slideOutAnimation: slide-out 0.5s forwards;
