/* Grayscale pallete */
$white: #FFFFFF;
$gray-100: #FDFDFD;
$gray-200: #F6F6F6;
$gray-300: #f1f1f1;
$gray-400: #e9e9e9;
$gray-500: #e0e0e0;
$gray-600: #d3d3d3;
$gray-700: #c2c2c2;
$gray-800: #9f9f9f;
$gray-900: #6b6b6b;

$black: #0c1729;
$gray: #D6D6D6;
$neutral60: hsl(0, 0%, 60%);
$baseBlack: #1E1E1E;

/* Multicolor pallete */
$primaryColor: #3369f3;
$danger: hsl(0, 100%, 55%);
$purple: #564282;
$darkPurple: #191C2C;

/* Avatar */
$avatar-background: $gray-300;

/* Scrollbar color */
$scrollbar-color: $gray-500;
$scrollbar-track-bg: $white;