/* Grayscale pallete */
$white: #ffffff;
$gray-100: #fdfdfd;
$gray-200: #f6f6f6;
$gray-300: #f1f1f1;
$gray-400: #e9e9e9;
$gray-500: #e0e0e0;
$gray-600: #d3d3d3;
$gray-700: #c2c2c2;
$gray-800: #9f9f9f;
$gray-900: #6b6b6b;

$black: #0c1729;
$gray: #d6d6d6;
$neutral60: hsl(0, 0%, 60%);
$baseBlack: #1e1e1e;
$blue: #36a4e3;
$purple: #564282;
$darkPurple: #191c2c;

/* Multicolor pallete */
$primaryColor: $purple;
$danger: hsl(0, 100%, 55%);
$secondaryColor: $blue;

/* Gradients */
$gradient: linear-gradient(
  63deg,
  rgba($purple, 1) 0%,
  rgba($blue, 1) 100%
);

/* Avatar */
$avatar-background: $gray-300;

/* Scrollbar color */
$scrollbar-color: $gray-500;
$scrollbar-track-bg: $white;

/* Text */
$color-gray-text: $gray-800;
