$backgroundImg: url('@assets/png/background.png')
  no-repeat center / cover;

$background2Img: url('@assets/png/background2.png')
  no-repeat center / cover;

$background3Img: url('@assets/png/background3.png')
  no-repeat center / cover;
