$shadowLight: 0 0 6px 0 rgb(0 0 0 / 14%);
$baseBoxShadow: 0px 0px 6px rgba($baseBlack, 0.2);

$primaryShadow: 0px 0px 12px
  rgba($primaryColor, 0.5);
$secondaryShadow: 0px 0px 12px
  rgba($secondaryColor, 0.5);
