/* Spacing */
$spacing-base: 8px;

$spacing-1: calc(1 * $spacing-base);
$spacing-2: calc(2 * $spacing-base);
$spacing-3: calc(3 * $spacing-base);
$spacing-4: calc(4 * $spacing-base);
$spacing-5: calc(5 * $spacing-base);
$spacing-6: calc(6 * $spacing-base);
$spacing-7: calc(7 * $spacing-base);
$spacing-8: calc(8 * $spacing-base);
$spacing-9: calc(9 * $spacing-base);
$spacing-10: calc(10 * $spacing-base);