$baseFontStyle: normal;
$baseFontWeight: 500;

/* Font-size */
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;

/* Font-weight */
$font-weight-1: 100;
$font-weight-2: 200;
$font-weight-3: 300;
$font-weight-4: 400;
$font-weight-5: 500;
$font-weight-6: 600;
$font-weight-7: 700;
$font-weight-8: 800;
$font-weight-9: 900;

/* Line-height */
$line-height-10: 10px;
$line-height-12: 12px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-20: 20px;
$line-height-22: 22px;
$line-height-24: 24px;
$line-height-26: 26px;
$line-height-28: 28px;
$line-height-30: 30px;
$line-height-32: 32px;
