@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

$baseBlack: #1e1e1e;
$neutral90: hsl(0, 0%, 90%);
$neutral60: hsl(0, 0%, 60%);
$danger: hsl(0, 100%, 55%);
$shadowLight: 0 0 6px 0 rgb(0 0 0 / 14%);
$gray: #d6d6d6;
$purple: #564282;
$blue: #36a4e3;
$darkPurple: #191c2c;
$white: #fff;
$backgroundImg: url('@assets/png/background.png')
  no-repeat center / cover;
$gradient: linear-gradient(
  63deg,
  rgba($purple, 1) 0%,
  rgba($blue, 1) 100%
);

$primaryColor: $purple;
$secondaryColor: $blue;
$primaryShadow: 0px 0px 12px
  rgba($primaryColor, 0.5);
$secondaryShadow: 0px 0px 12px
  rgba($secondaryColor, 0.5);

$bodyFontFamily: 'Inter';
$baseFontStyle: normal;
$baseFontWeight: 500;
$baseBoxShadow: 0px 0px 6px rgba($baseBlack, 0.2);
$baseBorderRadius: 12px;
$baseBorder: 1px solid $neutral90;

// Dialog
$dialogMinWidth: 300px;
$dialogShadow: $primaryShadow;

// Card
$cardShadow: $primaryShadow;
$cardBackgroundColor: $darkPurple;
$cardBorderRadius: $baseBorderRadius;

@mixin h1 {
  font-size: 40px;
  line-height: 40px;
}

@mixin h2 {
  font-size: 20px;
  line-height: 20px;
}
