@import './vars.scss';

@for $i from 8 to 25 {
  @if $i % 8 == 0 {
    .row.gutter-#{$i} {
      margin-top: -#{$i}px;
      margin-left: calc(-#{$i}px / 2);
      margin-right: calc(-#{$i}px / 2);

      & > .col {
        margin-top: #{$i}px;
        padding-left: calc(#{$i}px / 2);
        padding-right: calc(#{$i}px / 2);
      }
    }
  }
}

@each $breakpoint in $grid-breakpoints {
  $breakpoint_key: nth($breakpoint, 1);
  $breakpoint_value: nth($breakpoint, 2);

  @media (min-width: #{$breakpoint_value}) {
    @for $i from 8 to 25 {
      @if $i % 8 == 0 {
        .row.gutter-#{$breakpoint_key}-#{$i} {
          margin-top: -#{$i}px;
          margin-left: calc(-#{$i}px / 2);
          margin-right: calc(-#{$i}px / 2);

          & > .col {
            margin-top: #{$i}px;
            padding-left: calc(#{$i}px / 2);
            padding-right: calc(#{$i}px / 2);
          }
        }
      }
    }
  }
}

.row.gutter-0 {
  margin-left: 0;
  margin-right: 0;

  & > .col {
    padding-left: 0;
    padding-right: 0;
  }
}
